@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model MyProject.Models.JobSubmissionModel

@{
    ViewData["Title"] = "Form";
}

<div>
    <h2>Job Submission Form</h2>
</div>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorForModel()
        <button type="submit">Submit</button>        
    }
</body>


