@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model MyProject.Models.JobSubmissionModel

@{
    ViewData["Title"] = "Form";
}

<head>
    <title>Job Submission Form</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorForModel()
        <button type="submit">Submit</button>
    }
</body>


