@{
    ViewData["Title"] = "About";
}
<style type="text/css">
    <!--
    .tab {
        margin-left: 40px;
    }
    -->
</style>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Crowdsourcing inspired video game review site.</p>
<hr />
<div>
    <h3>Some definitions</h3>
    <div class="tab" style="margin-top:20px">
        <h4><b>Graphic Quality</b></h4>
        <p >The standard of displaying and manipulating visual elements.</p>
    </div>
    <div class="tab" style="margin-top:20px">
        <h4><b>Playability</b></h4>
        <p>How easy and enjoyable a game is to play.</p>
    </div>
    <div class="tab" style="margin-top:20px">
        <h4><b>Story/Character Development</b></h4>
        <p>The quality of storytelling within a game.</p>
    </div>
    <div class="tab" style="margin-top:20px">
        <h4><b>Gameplay & Controls</b></h4>
        <p>The way in which players interact with a game.</p>
    </div>
    <div class="tab" style="margin-top:20px">
        <h4><b>Co-op/Online Multiplayer</b></h4>
        <p>The quality of either co-op or MMO modes of a game.</p>
        <p>Cooperative gameplay (often abbreviated as co-op) is a feature in video games
        that allows players to work together as teammates, usually against one or more AI opponents.</p>
        <p>A massively multiplayer online game (MMOG, or more commonly, MMO) is an online game with
        large numbers of players, typically from hundreds to thousands, on the same server.</p>
    </div>
</div>

