@model MyProject.Models.ApplicationUser

@{
    ViewData["Title"] = "Index";
}

<div>
    @*<div class="col-md-3" style="margin-bottom:25px">
        <div class="thumbnail">
            <div class="image">
                <img class="img-responsive" src="~/images/" height="350" width="350"/>
            </div>
        </div>
    </div>*@
    <h2>@Html.DisplayFor(model => model.DeveloperName)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a> |
    <a asp-action="Index">Back to Profile</a>
</div>
